@media screen and (min-width: 1370px) {
    .add-bussiness {
        min-height: 700px;
    }
    #regForm {
        min-height: 415px;
    }
}

@media screen and (min-width: 972px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 10px 20px;
    }

    header .navbar .nav-link::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 20px;
        border-bottom: 3px solid transparent;
        transition: all 0.5s ease;
    }

    header .navbar .nav-link.active::before,
    header .navbar .nav-link:hover::before {
        right: 20px;
        border-bottom: 3px solid #f7d51b;
        border-bottom: 3px solid #ffc107;
    }
}

@media (min-width: 768px) {}

@media screen and (min-width: 480px) {
    /* header .navbar img {
            max-width: 300px;
        } */
}

@media screen and (max-width: 768px) {
    .search-body {
        height: 330px;
    }
    .search-sec h2{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .services-sec .service-title {
        min-width: 100px;
    }
    .business-title{
        font-size: 30px;
    }


}

@media screen and (max-width: 556px) {
    header .navbar img {
        max-width: 200px;
    }

    .search-sec h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .search-sec .search-form {
        display: block;
    }

    .search-sec .search-form input,
    .search-sec .search-form select,
    .search-sec .search-form button {
        width: 100%;
        border-radius: 5px !important;
        margin: 2px !important;
    }

    .expert-img img {
        min-width: 100%;
    }
    
    .about-nav .nav-link{
        font-size: 16px;
    }
    .about-nav .nav-link span{
        display: none;
    }
}