.my-btn {
    background: #004c98;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}
.img-hover {
    width: 100%;
    overflow: hidden;
}

.img-hover img {
    width: 100%;
    transition: all 0.5s ease;
}

.img-hover:hover img {
    transform: scale(1.1);
}

/* START: Header section */
header .navbar {
    background-color: #004c98;
}
.fixed-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform .3s ease;
}
header .navbar img {
    max-width: 190px;
}

header .navbar .nav-link,
header .navbar .dropdown-item {
    /* text-transform: uppercase; */
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: relative;
}

header .navbar .dropdown-menu {
    background-color: #004c98;
    border-radius: 0;
    /* padding: 0; */
}

header .navbar .dropdown-menu .dropdown-item {
    position: relative;
    overflow: hidden;
}

header .navbar .dropdown-menu .dropdown-item img {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 3px;
    height: 20px;
    pointer-events: none;
}

header .navbar .dropdown-menu .dropdown-item:hover {
    background-color: #004081;
    /* background-color: #004081; */
}

/* END: Header section */

/* START: Search section */
.search-sec {
    min-height: 240px;
    position: relative;
    padding: 15px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#searchCarousel {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    
}
.search-body{
    height: 420px;
    position: relative;
    z-index: 1;
}
#searchCarousel .carousel-inner {
    height: 100%;
    width: 100%;
}

#searchCarousel .carousel-inner .carousel-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.search-sec>.container-lg {
    position: relative;
    z-index: 1;
}

.search-sec::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.search-sec .search-form {
    /* background-color: #d9d9d9; */
    background-color: rgba(217, 217, 217, 0.4);

    padding: 15px;
    border-radius: 5px;
}

.search-sec .search-form .btn {
    padding: 8px 25px;
}

.search-sec h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #ffc107;
    margin-bottom: 40px;
    text-shadow: 0 0 3px #000, 0 0 5px #000;
}

.search-sec h2 strong {
    font-weight: 600;
}

/* END: Search section */

/* START : Services Section */
.services-sec {
    background-color: #adb5bd5c;

}

.experts-valuation h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0;
}

.experts-valuation p {
    font-family: "Open Sans", sans-serif;
    /* font-weight: 300; */
    font-size: 15px;
    margin: 0;
}

.services-sec .service-title {
    text-decoration: none;
    display: block;
}

.services-sec .service-title h5 {
    font-size: 16px;
    color: #666;
    margin: 0;

}

.services-sec .service-title img {
    max-width: 65px;
}

.service-box {
    box-shadow: 0 0 5px 0 #bbb;
}

.service-box h5 {
    color: #004c98;
    font-family: "Montserrat", sans-serif;
}

/* END : Services Section */

/* START : Best Experts Section */
.sec-title h3 {
    font-size: 30px;
    color: #004c98;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.sec-title h3 strong {
    font-weight: 700;
}


.expert-box {
    box-shadow: 0 0 5px 0 #bbb;
    background: #fff;
}

.expert-info {
    min-height: 125px;
}

.expert-name {
    /* padding: 10px 0; */
    margin-bottom: 0;
    color: #004c98;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    min-height: 40px;
}

.expert-box p {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

.expert-box .btn {
    border: 1px solid #d8d8d8;
    color: #e73a34;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    white-space: nowrap;
}

.expert-img {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.expert-img img {
    transition: .3s ease-in;
    vertical-align: middle;
    min-height: 100%;
}

.expert-img:hover img {
    transform: scale(1.09);
}

.expert-img::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#expertslider .owl-nav button {
    position: absolute;
    top: 100px;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;

}

#expertslider .owl-nav button span {
    font-size: 50px;
    line-height: 18px;
    color: #666;

}

#expertslider .owl-nav button.owl-prev {
    left: -12px;
}

#expertslider .owl-nav button.owl-next {
    right: -12px;
}

#expertslider .owl-dots .owl-dot span {
    background-color: #869791;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #000;
}

/* END : Best Experts Section */


/* START: Social Share sec */
.social-share-sec {
    background-color: #d7d8dc;
    padding: 15px 0;
}

.social-share-sec h5 {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.social-share-icons a {
    display: inline-block;
    background-color: #6193c5;
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding-right: 10px;
    text-transform: capitalize;
    border-radius: 8px;
    transition: all 0.5s ease;
    margin: 5px;
    text-align: left;
    min-width: 180px;
}

.social-share-icons a i {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    text-align: center;
    background-color: #ffc107;
    color: #004c98;
    font-weight: 300;
    font-size: 16px;
    margin-right: 5px;
    border-radius: 8px 0 0 8px;
}

.social-share-icons a:hover {
    background-color: #004c98;
}

/* END: Social Share sec */

/* START: Footer section */
footer {
    background-color: #004c98;
    padding: 50px 0;
}

.footer-logo img {
    max-width: 180px;
}

.subscribe-form .btn {
    padding: 10px 25px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    border-color: #fff;
}

.subscribe-form .btn:hover {
    background-color: #004081;
}

.middle-footer h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.middle-footer h6::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    border-top: 4px solid #ffc107;
}

.middle-footer ul {
    list-style: none;
    padding-left: 0;

}

.middle-footer ul li {
    line-height: 1.8;
}

.middle-footer ul li,
.middle-footer ul li a {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 15px;
}

.btm-footer {
    border-top: 1px solid #fff;
    padding-top: 25px;
}

.btm-footer,
.btm-footer a {
    color: #fff;
    text-decoration: none;
}

.social-icon {
    display: flex;
    column-gap: 2px;
}

.social-icon a {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #fff;
    align-items: center !important;
    text-decoration: none;
}

/* END: Footer section */

/* START: Add your business page */
.add-bussiness {
    background-color: #cacaca;
    min-height: 550px;
    display: flex;
    align-items: center;
    background-image: url('../img/add-business-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.add-bussiness::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

.add-bussiness>.container-lg {
    position: relative;
    /* z-index: 9999; */
}

#addBusinessForm .modal-content {
    border-radius: 0;
}

#addBusinessForm .modal-content .modal-header {
    padding: 10px 15px;
}

#regForm {
    min-height: 350px;
}

.tab {
    display: none
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5
}

.step.active {
    opacity: 1
}

.step.finish {
    background-color: #4CAF50
}

.all-steps {
    text-align: center;
}

.tabField {
    position: relative;
    padding: 15px 0;
    margin-top: 25px;
}

.tabField label {
    position: absolute;
    left: 12px;
    top: 20px;
    color: #989595;
    transition: all 0.2s ease;
}

.tabField:not[empty] label {
    top: 5px
}

.tabField .form-control:not(:placeholder-shown) {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.tabField .form-control:focus~.form-label,
.tabField .form-control:not(:placeholder-shown)~.form-label {
    top: 5px;
    background: #fff;
    padding: 0 3px;
    font-size: 11px;
    color: #458df8;
}

.tabField .form-control.invalid {
    border-color: #f14848;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(241, 53, 53, 0.25);
}

.tabField .form-control.invalid~.form-label {
    color: #f14848;
}

.otp-fields .form-control {
    width: 40px;
    text-align: center;
    font-size: 20px;
    margin: 0 3px;
}

.otp-fields .form-control::-webkit-outer-spin-button,
.otp-fields .form-control::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* END: Add your business page */


/* START: Business Profile Page */
.business-header {
    height: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 208, 66, 1) 100%);
    display: flex;
    align-items: end;
}
.business-header h1 {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 75px;
    height: 60px;
    background-color: #fff;
    margin: 0;
    border-radius: 5px 5px 0 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #bbb;
    font-size: 60px;
    line-height: 43px;
}
.business-profile p{
    font-family: "Open Sans", sans-serif;
    color: #494949;
}
.business-title{
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 0;
}
.business-address{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
.business-opening-hours{
    padding: 20px 0;
    color: #7e7e7e;
}
.business-phone{
    color: #7e7e7e;
}
.business-phone a{
    text-decoration: none;
    color: #7e7e7e;
}
/* .about-nav .nav-item:first-child > .nav-link{
    padding-left:0;
} */
.about-nav{
    background-color: #ebebeb;
    border-bottom: 3px solid #ffc107;
}
.about-nav .nav-link {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #4a4a4a;
    transition: all 0.5s ease;
    /* border-bottom: 3px solid transparent; */
}
.about-nav .nav-link.active{

    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 208, 66, 1) 100%);
}
.about-row{
    margin-bottom: 30px;
}
.about-content .more-info h4{
    color: #004c98;
}
.about-content .more-info i{
    font-size: 20px;
}
.about-content .more-info .verify.verified{
    color: #147b11;
    font-weight: 700;
}

.review-item {
    background: #dcd9d9;
    margin: 15px 0;
    padding: 20px 0;
}

.client-img {
    border: 2px solid #ffc107;
    height: 136px;
    width: 136px;
    border-radius: 50%;
    margin: 0 auto;
}

.client-text p {
    color: #373737;
    font-family: "Open Sans", SansSerif;
    line-height: 26px;
}
.client-text p::before,
.client-text p::after{
    content: '\f10d';
    color: #ffc107;
    font-size: 20px;
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    margin-right: 10px;
}
.client-text p::after {
    content: '\f10e';
    margin-right: 0;
    margin-left: 10px;
}

.client-text .client-name {
    color: #184e9d;
    font-family: "Open Sans", SansSerif;
    font-weight: 600;
}
#socialTab .social-icon a{
    color: #4a4a4a;
    background-color: #dcd9d9;
    transition: all 0.5s ease;
}
#socialTab .social-icon a:hover{
    background-color: #ffc107;
}
/* END: Business Profile Page */

/* START : search page Section */
.expert-details h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #4a4a4a;
    margin-bottom: 16px;
}
.search-page .breadcrumb-item a{
    text-decoration: none;
    color: #685f5f;
}
/* .search-result{
    background-color: #ebebeb;
} */
.search-result .expert-image{
/*    height: 250px;*/
    box-shadow: 0 0 5px 0 #bbb;
}
.expertStars .stars i{
    color:#fff;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    border-radius: 5px;
    background-color:#bbb;
}
.expertStars .stars .red{
    background-color: #fc6530;
}
.expert-details .list-group-item{
    font-weight: 700;
    color: #7c7c7c;
}
.expert-details h6,
.reviewsNumber, p{
    color: #7c7c7c;
    margin: 10px 0;
    font-size: 16px;
}
.expert-details .btn{
    border: 1px solid #a1a1a1;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s ease;
}
.expert-details .btn:hover{
    background-color:#ffc107;
    border: 1px solid #ffc107;
}
/* END : search page Section */